<h3 class="title">Server Status</h3>
<h4 class="theme-action">
  {{system.os.distro}} // <span>{{system.os.release}}</span>
</h4>

<div class="node-card node-card--light">
  <div class="row node-card--split">
    <div class="col-xs-12 col-sm-6">
      <dl class="data-display inverse">
        <dt>
          {{format-bytes system.storageLeft unitWrap="true"}}
        </dt>
        <dd>Free Space</dd>
      </dl>
      <dl class="hide data-display inverse">
        <dt>
          {{format-bytes system.storageLeft unitWrap="true"}} /
          <span class="theme-action">{{format-bytes system.storage.size unitWrap="true"}}</span>
        </dt>
        <dd>Free Space</dd>
      </dl>
    </div>
    <div class="col-xs-12 col-sm-6">
      <dl class="data-display inverse">
        <dt>
          {{format-bytes system.memoryLeft unitWrap="true"}}
        </dt>
        <dd>Free Memory</dd>
      </dl>
    </div>
  </div>

</div>
