<div class="about">
  <p class="logo">ObsidianXXL <span class="version muted"> &copy; 2018 | v{{version}}</span></p>
  <ul class="horizontal list-social-icons">
    <li><a target="_blank" href="https://twitter.com/ObsidianCrypto"><span class="icon-social-twitter icons"></span></a></li>
    <li><a target="_blank" href="https://www.facebook.com/TheObsidianPlatform/"><span class="icon-social-facebook icons"></span></a></li>
    <li><a target="_blank" href="https://www.reddit.com/r/ObsidianProject/"><span class="icon-social-reddit icons"></span></a></li>
  </ul>

  <p class="u-text-align-justify--sm">ObsidianXXL is a convenient dashboard developed for Obsidian to provide node operators a view of their wallet and blockchain exploration.</p>
  <p class="u-text-align-justify--sm">Another initiative supported by Obsidian is the <a style="text-decoration: underline;" href="https://odinblockchain.org/">Odin Blockchain</a>, a decentralized Mobile App Platform focussed on User Privacy and usability.</p>
  <p class="muted">Last Price: {{token-value-data-list usd=price_usd btc=price_btc}}</p>
  <p class="muted">Price Updated: {{humaizedUpdatedAt}}</p>
  <p class="muted">Current Block: {{currentBlock}}</p>
</div>
<div class="links">
  <h5 class="title">Github Repos</h5>
  <p>ObsidianXXL <a class="external" href="https://github.com/Manbearpixel/ObsidianXXL" target="_blank">Github</a></p>
  <p>Obsidian-QT Wallet <a class="external" href="https://github.com/obsidianplatform/Obsidian-Qt/releases" target="_blank">Github</a></p>
  <h5 class="title u-margin-top-sm">Obsidian Resources</h5>
  <p><a class="external" href="https://obsidianplatform.com" target="_blank">Obsidian Home</a></p>
  <p><a class="external" href="https://medium.com/@obsidian_crypto" target="_blank">Obsidian Blog</a></p>
</div>
{{yield}}
