<div class="header--row">
  <div class="header--logo">
    <h1>ObsidianXXL</h1>
    <p class="version muted">v{{version}}</p>
    <div class="mobile-nav-action" {{action "toggleMobileNav" 'action'}}>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <nav class="nav">
    <ul class="nav-list horizontal">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </nav>

  {{#if enableSearch}}
    <div class="header--search">
      <form class="" {{action "search" this.query on="submit"}}>
        <div class="search-wrap {{if isSearchedFocused "search-focus"}}">
          {{input value=query class='input text'}}
          <button type="submit" class="button search-icon"><i class="icon-magnifier"></i></button>
        </div>
      </form>
    </div>
  {{/if}}
</div>
